  <div class="header">
  <img src="https://i.imgur.com/PvB3OJk.jpg" alt="Smiley face" height=100% width=1500px>
  </div>
  <div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <% @articles.each do |article| %>
      <h2> <%= article.title %></h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p><%= article.body %></p>
      <% end %>
    </div>
  </div>
